@use "./plyr.scss";

@font-face {
  font-family: "GillSansLight";
  src: url("../assets/fonts/GillSans-Light.ttf") format("woff");
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

$breakpoint-xs: 0;
$breakpoint-smaller: 420px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1290px;
$breakpoint-xxl: 1600px;
$breakpoint-xxxl: 1920px;

$teal: #177071;
$teal-1: #1a9393;
$teal-2: #00747a;
$teal-3: #46aa92;
$teal-4: #127172;
$white: #ededed;
$primary-color: #161412;
$graphite: #161412;
$graphite-light: #2e2e2e;
$border-radius: 25px;
$font-gillsans: "GillSansLight", "Roboto", "Helvetica Neue", Arial, sans-serif;
$font-roboto: "Roboto", sans-serif;
$teal-background-gradient: linear-gradient(to bottom, $teal 4%, $teal-2);

@mixin mq($from: null, $until: null) {
  $media-query: "";

  @if $from and $until {
    $media-query: "(min-width: #{$from}) and (max-width: #{$until - 1})";
  } @else if $from {
    $media-query: "(min-width: #{$from})";
  } @else if $until {
    $media-query: "(max-width: #{$until - 1})";
  }

  @if $media-query != "" {
    @media #{$media-query} {
      @content;
    }
  }
}

:root {
  --swiper-pagination-color: #ededed;
  --swiper-pagination-bullet-size: 10px;
}
// Base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-gillsans;
  color: $primary-color;
  background: $white;
  min-height: 100vh;
  position: relative;
  text-wrap: pretty;
  font-size: 1.188rem;
  @include mq($from: $breakpoint-md) {
    font-size: 1.688rem;
  }
}

// --------LAYOUT CLASSES ---------

.grid {
  display: grid;
  grid-template-columns:
    minmax(0, 1fr)
    repeat(10, minmax(0, 140px))
    minmax(0, 1fr);
  max-width: 100vw;
  margin: 0 auto;

  @include mq($until: $breakpoint-xxl) {
    grid-template-columns:
      minmax(0, 140px)
      repeat(10, minmax(0, 140px))
      minmax(0, 140px);
  }

  &--px {
    padding: 0 140px;
  }

  @include mq($until: $breakpoint-md) {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &--py {
    padding: 70px 0;

    @include mq($until: $breakpoint-lg) {
      padding: 40px 0;
    }
  }
}

.full-width {
  grid-column: 1 / 13;
  height: 700px;
  overflow: hidden;
  position: relative;
  @include mq($until: $breakpoint-md) {
    height: 500px;
  }
  @include mq($until: $breakpoint-lg) {
    width: 100%;
  }
}

.full {
  grid-column: 2 / 12; /* columns 3-10 = 8 columns */
  width: 100%;
  margin: auto;
  @include mq($until: $breakpoint-md) {
    padding: 0 32px;
  }
  @include mq($until: $breakpoint-xxxl) {
    grid-column: 2 / 12; /* 3 columns */
  }

  &--px-sm {
    @include mq($until: $breakpoint-md) {
      padding: 0 12px;
    }
  }
}

.half-left {
  grid-column: 2 / 7; /* 3 columns */
  padding-right: 40px;
  @include mq($until: $breakpoint-md) {
    padding: 0 32px;
  }
  @include mq($until: $breakpoint-xxxl) {
    grid-column: 2 / 7; /* 3 columns */
  }
}

.half-right {
  grid-column: 7 / 12; /* 3 columns, gap at 6-7 */
  padding-left: 40px;
  padding-right: 80px;

  @include mq($until: $breakpoint-md) {
    padding: 0 32px;
  }

  @include mq($until: $breakpoint-xxxl) {
    grid-column: 7 / 12; /* 3 columns */
  }
}

.content-right {
  grid-column: 7 / 13; /* 6 columns, no right padding */
  height: 100%;
  overflow: hidden;
}

// -------- UTILITIES ---------

.relative {
  position: relative;
  width: 100%;
  height: 100%;
}

.text-white {
  color: $white;
}

.hidden-sm {
  @include mq($until: $breakpoint-md) {
    display: none;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.sticky {
  position: sticky;
  top: 50px;
  z-index: 1;
}

.js-batch {
  opacity: 0;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.justify-center {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  gap: 30px;
  align-content: center;
}

.reverse-sm {
  flex-direction: column-reverse;
}

.inline {
  display: inline-block !important;
}

// for titles
.mb-50 {
  margin-bottom: 50px;
  @include mq($until: $breakpoint-xxxl) {
    margin-bottom: 30px;
  }
}

.col-indent {
  padding-left: 80px;
  @include mq($until: $breakpoint-xxxl) {
    padding-left: 32px;
  }

  &--lg {
    @include mq($until: $breakpoint-xxxl) {
      padding-left: 0;
    }
  }

  &--sm {
    @include mq($from: $breakpoint-xxxl) {
      padding-left: 0;
    }
  }
}

// -------- SECTIONS ---------
.section {
  &--bg-teal {
    background-color: $teal;
  }

  &--bg-socks {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
    &:before {
      content: "";
      background:
        linear-gradient(#1a9393, #00747a),
        url("../assets/socks.svg") repeat right;
      display: block;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-blend-mode: overlay;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  &--bg-dark-socks {
    width: 100%;
    height: 100%;
    position: relative;

    &:before {
      content: "";
      background:
        linear-gradient(#0000001a, #0000001a),
        url("../assets/socks-dark.svg") repeat right;
      opacity: 0.2;
      display: block;
      width: 100%;
      height: 100%;
      background-size: clamp(800px, 60%, 1000px);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  &--p-lg {
    padding: 90px 120px 90px 0;

    @include mq($until: $breakpoint-md) {
      padding: 40px 20px;
    }
  }

  &--py-lg {
    padding-top: 90px;
    padding-bottom: 90px;
    @include mq($until: $breakpoint-md) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: start;

    @include mq($until: $breakpoint-md) {
      flex-direction: column;
      margin-bottom: 20px;
    }
  }
}

// -------- COMPONENTS ---------

.cta {
  text-align: center;
  border-radius: $border-radius;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  width: auto;
  height: 50px;
  padding: 17px;
  font-size: 1rem;
  font-family: $font-roboto;
  font-weight: 400;
  box-shadow: 5px 5px 30px #0006;
  color: $primary-color;
  display: flex;
  justify-content: center;

  &--teal {
    background: $teal-background-gradient;
    border-radius: $border-radius;
    position: relative;
    border: none;
    outline: none;
    color: $white;

    &:hover {
      background: linear-gradient(to bottom, $teal 0%, $teal 100%);
    }
  }

  &--white {
    background-color: $white;
  }

  &--sm {
    width: 200px;
    @include mq($until: $breakpoint-md) {
      width: 200px;
    }
  }
  &--align-right {
    margin-left: auto;
  }
}

.header {
  background-color: black;
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  border-radius: $border-radius;
  z-index: 1000;
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  font-size: 1.063rem;
  font-family: $font-roboto;

  @include mq($until: $breakpoint-md) {
    padding: 0 20px;
    height: 60px;
  }

  &__logo {
    height: 60px;
    @include mq($until: $breakpoint-md) {
      height: 40px;
    }
  }

  &__nav {
    display: flex;
    gap: 30px;
    height: 100%;
    align-items: center;

    @include mq($until: $breakpoint-xxxl) {
      gap: 10px;
    }
    @include mq($until: $breakpoint-md) {
      gap: 0;
    }
  }
}

.nav {
  &__list {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 40px;
    list-style-type: none;

    @include mq($until: $breakpoint-xl) {
      display: none;
    }

    a {
      text-decoration: none;
      color: $white;
    }
  }

  &__item {
    color: #fff;
    font-size: 15px;
    line-height: 1.8;
    display: block;
    padding: 0.75rem 0;
    cursor: pointer;
    letter-spacing: 0.5px;
    border-bottom: 1px solid #127172;
    position: relative;
    width: 100%;

    &--flex {
      display: block;
      position: relative;
    }

    &--center {
    }
  }

  &__hamburger {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1000;
  }

  &__toggle {
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0.75rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.subnav {
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;

  &--open {
    max-height: 500px; // Set a value larger than your content will ever be
    color: $white;
  }

  &__item {
    padding: 10px 0 10px 20px;
    color: $teal-3;
    width: 100%;
    box-sizing: border-box;

    &:first-of-type {
      border-top: 1px solid $teal;
      margin-top: 0.75rem;
    }
    &:last-of-type {
      padding: 10px 0 0 20px;
    }
  }
}

.line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease;
  position: relative;
  transform-origin: center;

  &:nth-child(1) {
    transform-origin: center;
    transform: translateY(-7px);
  }

  &:nth-child(2) {
    transform-origin: center;
  }

  &:nth-child(3) {
    transform-origin: center;
    transform: translateY(7px);
  }

  &__toggle {
    background-color: $white;
    width: 15px;
    height: 0.5px;
    position: absolute;

    &:first-of-type {
      transform: rotate(90deg);
    }

    &--rotate {
      transform: rotate(0deg) !important;
    }
  }
}

.nav__hamburger {
  &--open {
    .line {
      &:nth-child(1) {
        transform: translateY(4.5px) rotate(45deg); // Move down to center, then rotate
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translateY(0.5px) rotate(-45deg); // Move up to center, then rotate
      }
    }
  }
}

.hamburger {
  &__nav {
    display: block; // Change from none to block
    overflow: hidden; // Add this for smooth height animation
    width: 0;
    position: absolute;

    ul,
    li {
      list-style-type: none;
    }

    &--open {
      width: 400px;
      display: flex;
      padding: 4rem;
      flex-direction: column;
      right: 0;
      top: 80%;
      background-color: #000;
      color: $white;
      box-sizing: border-box;
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;

      @include mq($until: $breakpoint-md) {
        top: -20px;
        right: 0;
        left: -20px;
        width: 100vw !important;
        height: 100vh;
        border-radius: 0;
        padding-top: 150px;
      }
    }

    &--scrolled {
      top: 0;
      left: 0;
      right: unset;
    }
  }
}

.language {
  color: $white;
  position: relative;
  height: 100%;

  &:hover {
    background-color: $teal;
    .language__dropdown {
      display: block;
      position: absolute;
      width: 100%;
      top: 100%;
      right: 0;
      list-style: none;
      background: $teal;
      box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
    }
  }

  &__toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: $white;
    height: 100%;
    padding: 0 0.5rem;
  }

  &__dropdown {
    display: none;
    list-style-type: none;

    &--open {
      display: block;
      position: absolute;
      width: 100%;
      top: 100%;
      right: 0;
      list-style: none;
      background: $teal;
      box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
    }
  }

  &__icon {
    height: 25px;
    width: 25px;
  }

  &__current {
    font-size: 0.85rem;
  }

  &__option {
    display: block;
    color: $white;
    width: 100%;
    text-align: center;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.85rem;
    padding: 0.5rem 0;
    box-sizing: border-box;
    background-color: $teal-1;

    &:hover {
      background-color: $teal-4;
    }
  }
}

.image {
  &--sm {
    width: 100%;
  }

  &--rounded {
    border-radius: 25px;

    &-sm {
      border-radius: 15px;
    }
  }

  &--full-width {
    position: absolute;
    object-fit: cover;
    object-position: 60% 40%;
    width: 100%;
    height: 100%;

    @include mq($until: $breakpoint-md) {
      position: static;
    }
  }

  &__container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  &--bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.hero {
  overflow: hidden;
  position: relative;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 700px;
    object-fit: cover;
    transform-origin: center center;

    @include mq($until: $breakpoint-md) {
      height: 500px;
    }
  }
  &__text-container {
    position: absolute;
    bottom: 140px;
    left: 20px;

    @include mq($until: $breakpoint-md) {
      bottom: 50px;
      left: 0;
    }
  }
  &__text {
    font-family: $font-gillsans;
    font-weight: 300;
    color: $white;
    font-size: 5.5rem;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
    text-wrap: balance;
    line-height: 1;
    z-index: 2;

    @include mq($until: $breakpoint-md) {
      font-size: 2.646rem;
    }

    span {
      display: block;
    }
  }
}

.card {
  overflow: hidden;
  height: 100%;
  &__image {
    height: 30rem;
    width: 100%;
    object-fit: cover;
  }

  &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, #0000, #000 80%, #000);
    height: 50%;
    width: 100%;
    border-radius: 15px;
  }

  &__intro {
    font-family: $font-roboto;
    font-size: 0.938rem;
  }

  &__content {
    color: $white;
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    justify-content: flex-end;
  }
}

.lead-text {
  font-family: $font-gillsans;
  font-size: 3.125rem;
  font-weight: 300;
  line-height: 3.438rem;

  @include mq($until: $breakpoint-md) {
    font-size: 1.438rem;
    line-height: 1.875rem;
  }

  &--bold {
    font-weight: 400;
  }

  &--md {
    font-size: 1.938rem;
  }

  &--white {
    color: $white;
  }

  &--mb {
    margin-bottom: 30px;
  }
}

.video {
  position: relative;
  z-index: 10;
  cursor: pointer;
  width: 100%;

  &__container {
    width: 100%;
    height: 100%;
  }
}

.text {
  &__container {
    padding: 0 0 0 0;

    @include mq($from: $breakpoint-xl, $until: $breakpoint-xxxl) {
      padding: 0 0 0 0;
    }

    @include mq($until: $breakpoint-md) {
      padding: 0;
    }
  }
}

.swiper {
  margin-top: 50px;
  @include mq($until: $breakpoint-md) {
    margin-top: 30px;
  }

  &__controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    margin-top: 20px;

    @include mq($until: $breakpoint-md) {
      display: block;
    }
  }
  &__pagination {
    flex-shrink: 0;
    position: static !important;
    width: unset !important;
  }

  &__nav {
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    @include mq($until: $breakpoint-md) {
      padding: 0 33px;
    }
  }

  &__btn {
    position: static !important;
    margin-top: 0 !important;
    background-color: $graphite-light;
    border-radius: 50%;
    width: 45px !important;
    height: 45px !important;

    svg {
      width: auto !important;
      height: 18px !important;
    }
  }

  &__cta {
    @include mq($until: $breakpoint-md) {
      order: 3;
      margin-top: 20px;
      width: 100%;
    }
  }
}
